*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --label-title-color: #08c
}

body{
    font-size: 1.6rem;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}
html, body{
    scroll-behavior: smooth;
}

/* Review style */

.reviews{
    margin: 45px 45px 0px;
}

.reviews .label-title{
    font-weight: 700;
    font-size: 25px;
    color: var(--label-title-color);
    border-bottom: 2px double var(--label-title-color);
    padding-bottom: 8px;
    margin: 15px 0px;
}

.reviews .title{
    font-size: 18px;
    font-weight: 700;
}

.reviews .star_box{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    flex-flow: row nowrap;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 7px;
}

.reviews .star_box .star_box_left{
    padding: 10px 20px;
    margin: auto 0px ;
}

.reviews .star_box .star_box_left .rate_detail{
    display: flex;
    justify-content: space-between;
    font-size: 48px;
    color: #fe9727;
    vertical-align: middle;
    font-weight: 700;
    text-align: center;
    margin: 0 10px 0 0;
}

.reviews .star_box .star_box_left .desc{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
}

.reviews .star_box .star_box_center{
    padding: 10px 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.reviews .star_box .star_box_center .review_row{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    width: 100%;
}

.reviews .star_box .star_box_center .review_row .rating{
    width: 370px;
    height: 15px;
    background-color: #eee;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0px 10px;
}

.reviews .star_box .star_box_center .review_row:first-child .rating{
    background-color: #f5a623;
}

.reviews .star_box .star_box_center .review_row .rate_label{
    margin: 0px 1px;
}

.reviews .star_box .star_box_center .review_row .rate_percentage{
    min-width: 150px;
    color: #03a0e2;
}

.reviews .star_box .star_box_center .review_row .rate_percentage b{
    font-weight: bold;
}

.reviews .star_box .star_box_right{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .star_box .star_box_right .btn{
    background-color: #03a0e2;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

/* Customer reviews */

.reviews .author_reviews .comment .reviews_top{
    display: flex;
    font-size: 14px;
}

.reviews .author_reviews .comment .reviews_top .author_name{
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    color: #000;
    margin: 0 10px 0 0;
}

.reviews .author_reviews .comment .reviews_top .verify{
    background: transparent url("../assets/img/icon-confirm.png") no-repeat left top;
    padding: 0 0 0 15px;
    background-size: 12px;
    line-height: 1.2;
    color: #52b858;
    font-size: 12px;
    margin: 0 0 5px;;
}

.reviews .author_reviews .comment .reviews_mid{
    display: flex;
    margin: 5px 0px;
}

.reviews .author_reviews .comment .reviews_bot{
    display: flex;
    align-items: center;
    gap: 5px;
}

.reviews .author_reviews .dot{
    color: #999;
}

.reviews .author_reviews a{
    color: var(--label-title-color);
    text-decoration: underline;
}

.reviews .author_reviews .like{
    background: url(../assets/img/cmt-like-icon.png) no-repeat left center;
    background-size: 12px auto;
    padding-left: 15px;
}

.reviews .author_reviews .date{
    color: #999;
}

.reviews .author_reviews .rep {
    margin-top: 10px;
    position: relative;
    background: #f1f1f1;
    border: 1px solid #e7e7e7;
    padding: 15px 10px;
    font-size: 14px;
    color: #333;
    margin-left: 35px;
    list-style: none;
    margin: 10px 0 15px 10px;
}

.reviews .author_reviews .rep::before{
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(231,231,231,0);
    border-bottom-color: #e7e7e7;
    border-width: 10px;
    margin-left: -10px;
    margin-right: -10px;
    top: -30px;
    left: 20px;
    border: solid transparent;
}


.reviews .author_reviews .rep .rep_top{
    display: flex;
    font-size: 14px;
}

.reviews .author_reviews .rep .rep_top .name{
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    color: #000;
    margin: 0 10px 0 0;
}

.reviews .author_reviews .rep .rep_top .postion{
    background-color: #eebc49;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 3px;
    line-height: 13px;
    height: 15px;
}

.reviews .author_reviews .rep .rep_mid{
    margin-bottom: 5px;
    font-size: 14px;
}

.reviews .author_reviews .rep .rep_bot{
    display: flex;
    gap: 5px;
}

